<div class="col-md-12">
  <aside class="col-md-2 pull-right">
    <%= link_to "Edit",edit_group_path(@group),class: "btn btn-primary" %>
  </aside>
  <div class="col-md-10 well">
    <h2><%= @group.title %></h2>
    <p><%= @group.description %></p>
  </div>

</div>
